//Collors
$color-1: #000; //Change to your wish

//Breakpoints
$breakpoints: (
  "sm": 0, //Phone
  "md": 768px, //Tablet
  "lg": 1280px, //Laptop
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

//Global style
body {
  margin: 1rem;
}
h1, h2, h3, label, input, small {
  font-family: "SourceCode-Reg", "sans-serif";
}
h1 {
  font-size: 25px;

  @include screen-is(lg) {
    font-size: 45px;
  }
}
h2, h3 {
  line-height: 1.3;
}
h4 {
  font-family: "SourceCode-Bold", "sans-serif";
}

//Common styles
.event_information, .event_process-container, .event_home-form, .event_submit-message {
  padding: 0.8rem 0rem;

  @include screen-is(lg) {
    width: 30%;
    margin: 0rem auto;
  }
}

//Style for the home page
.event_logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  img {
    width: 50%;
  }
  h1 {
    width: 25%;
  }
  @include screen-is(lg) { //Corresponds to the class .event_logo
    justify-content: center;
    padding: 1rem 0rem;

    img {
      width: 15%;
    }
    h1 {
      width: 20%;
    }
  }
}
.event_information {
  display: flex;
  flex-flow: column nowrap;

  h4 {
    padding: 0.5rem 0rem;
  }

  @include screen-is(lg) {
    width: 30%;
    margin: 0rem auto;
  }
}
.event_welcome-message {

  @include screen-is(lg) {
    width: 30%;
    margin: 0rem auto;
  }
}
.event_process-container {
  .event_process-header {
    cursor: pointer;
    u {
      font-family: "SourceCode-Bold", "sans-serif";
    }
  }

  .event_the-steps {
    //No display
    flex-flow: column nowrap;
    justify-content: space-between;

    .event_process-steps {
      display: flex;
      flex-flow: row nowrap;
      padding: 1rem 0rem;

      h3 {
        padding: 0rem 0.5rem;
      }
    }

    &.event_process-displaying {
      display: flex;
    }
    &.event_process-hidden {
      display: none;
    }
  }
  @include screen-is(lg) {
    width: 30%;
    margin: 0rem auto;
  }
}
.event_home-form {
  display: flex;
  flex-flow: column nowrap;

  @include screen-is(lg) {
    width: 30%;
    margin: 0rem auto;
  }

  .form_elements {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5rem 0rem;

    label {
      width: 50%;
      
      small {
        font-weight: bolder;
      }
    }

    input {
      width: 100%;
      padding: 0.5rem;
      border: 2px solid black;

      @include screen-is(lg) {
        width: 50%;
      }
    }
    .form_payment-type-container {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      @include screen-is(lg) {
        width: 50%;
      }

      .form_payment-type {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 2px solid black;
        margin: 0rem 1rem 0rem -0.5rem;
      }
      .form_payment-type:checked {
        background-color: black;
      }
    }
  }
  small {
    padding: 0.8rem 0rem;
    font-size: 12px;
    color: orange;
  }
  .form_submit {
    width: 30%;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 2px solid black;
    background-color: orange;
    font-family: "SourceCode-Bold", "sans-serif";

    &.event_submit-message-hidden {
      display: none;
    }
    &.event_submit-message-displaying {
      display: flex;
    }
  }
}
.event_submit-message {
  display: none;
  background-color: orange;
  border: 2px solid black;
  padding: 0;
  margin: 0rem auto 3rem auto;

  h2 {
    padding: 0.5rem;
  }

  &.event_submit-message-hidden {
    display: none;
  }
  &.event_submit-message-displaying {
    display: block;
  }
}