body {
  margin: 1rem; }

h1, h2, h3, label, input, small {
  font-family: "SourceCode-Reg", "sans-serif"; }

h1 {
  font-size: 25px; }

@media (min-width: 1280px) {
  h1 {
    font-size: 45px; } }

header .event_process-header {
  cursor: pointer; }

header .event_the-steps {
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem 0rem; }

header .event_the-steps .event_process-steps {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem 0rem; }

header .event_the-steps .event_process-steps h3 {
  padding: 0rem 0.5rem; }

header .event_the-steps.event_process-displaying {
  display: flex; }

header .event_the-steps.event_process-hidden {
  display: none; }

.event_logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.event_logo img {
  width: 50%; }

.event_logo h1 {
  width: 25%; }

@media (min-width: 1280px) {
  .event_logo {
    justify-content: center;
    padding: 1rem 0rem; }
  .event_logo img {
    width: 15%; }
  .event_logo h1 {
    width: 20%; } }

.event_information {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0rem; }

@media (min-width: 1280px) {
  .event_information {
    width: 30%;
    margin: 0rem auto; } }

.event_information h2 {
  line-height: 1.5; }

.event_welcome-message {
  padding: 1rem 0rem; }

@media (min-width: 1280px) {
  .event_welcome-message {
    width: 30%;
    margin: 0rem auto; } }

.event_home-form {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0rem; }

@media (min-width: 1280px) {
  .event_home-form {
    width: 30%;
    margin: 0rem auto; } }

.event_home-form .form_elements {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 0rem; }

.event_home-form .form_elements label {
  width: 30%; }

@media (min-width: 1280px) {
  .event_home-form .form_elements label {
    width: 25%; } }

.event_home-form .form_elements label small {
  font-weight: bolder; }

.event_home-form .form_elements input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid black; }

.event_home-form small {
  padding: 0.8rem 0rem;
  font-size: 12px;
  color: orange; }

.event_home-form .form_submit {
  width: 30%;
  margin: 1rem auto;
  padding: 0.8rem 1.5rem;
  border: 2px solid black;
  background-color: orange;
  font-family: "SourceCode-Bold", "sans-serif"; }
