body {
  margin: 1rem; }

h1, h2, h3, label, input, small {
  font-family: "SourceCode-Reg", "sans-serif"; }

h1 {
  font-size: 25px; }

@media (min-width: 1280px) {
  h1 {
    font-size: 45px; } }

h2, h3 {
  line-height: 1.3; }

h4 {
  font-family: "SourceCode-Bold", "sans-serif"; }

.event_information, .event_process-container, .event_home-form, .event_submit-message {
  padding: 0.8rem 0rem; }

@media (min-width: 1280px) {
  .event_information, .event_process-container, .event_home-form, .event_submit-message {
    width: 30%;
    margin: 0rem auto; } }

.event_logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.event_logo img {
  width: 50%; }

.event_logo h1 {
  width: 25%; }

@media (min-width: 1280px) {
  .event_logo {
    justify-content: center;
    padding: 1rem 0rem; }
  .event_logo img {
    width: 15%; }
  .event_logo h1 {
    width: 20%; } }

.event_information {
  display: flex;
  flex-flow: column nowrap; }

.event_information h4 {
  padding: 0.5rem 0rem; }

@media (min-width: 1280px) {
  .event_information {
    width: 30%;
    margin: 0rem auto; } }

@media (min-width: 1280px) {
  .event_welcome-message {
    width: 30%;
    margin: 0rem auto; } }

.event_process-container .event_process-header {
  cursor: pointer; }

.event_process-container .event_process-header u {
  font-family: "SourceCode-Bold", "sans-serif"; }

.event_process-container .event_the-steps {
  flex-flow: column nowrap;
  justify-content: space-between; }

.event_process-container .event_the-steps .event_process-steps {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem 0rem; }

.event_process-container .event_the-steps .event_process-steps h3 {
  padding: 0rem 0.5rem; }

.event_process-container .event_the-steps.event_process-displaying {
  display: flex; }

.event_process-container .event_the-steps.event_process-hidden {
  display: none; }

@media (min-width: 1280px) {
  .event_process-container {
    width: 30%;
    margin: 0rem auto; } }

.event_home-form {
  display: flex;
  flex-flow: column nowrap; }

@media (min-width: 1280px) {
  .event_home-form {
    width: 30%;
    margin: 0rem auto; } }

.event_home-form .form_elements {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 0rem; }

.event_home-form .form_elements label {
  width: 50%; }

.event_home-form .form_elements label small {
  font-weight: bolder; }

.event_home-form .form_elements input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid black; }

@media (min-width: 1280px) {
  .event_home-form .form_elements input {
    width: 50%; } }

.event_home-form .form_elements .form_payment-type-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

@media (min-width: 1280px) {
  .event_home-form .form_elements .form_payment-type-container {
    width: 50%; } }

.event_home-form .form_elements .form_payment-type-container .form_payment-type {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0rem 1rem 0rem -0.5rem; }

.event_home-form .form_elements .form_payment-type-container .form_payment-type:checked {
  background-color: black; }

.event_home-form small {
  padding: 0.8rem 0rem;
  font-size: 12px;
  color: orange; }

.event_home-form .form_submit {
  width: 30%;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 2px solid black;
  background-color: orange;
  font-family: "SourceCode-Bold", "sans-serif"; }

.event_home-form .form_submit.event_submit-message-hidden {
  display: none; }

.event_home-form .form_submit.event_submit-message-displaying {
  display: flex; }

.event_submit-message {
  display: none;
  background-color: orange;
  border: 2px solid black;
  padding: 0;
  margin: 0rem auto 3rem auto; }

.event_submit-message h2 {
  padding: 0.5rem; }

.event_submit-message.event_submit-message-hidden {
  display: none; }

.event_submit-message.event_submit-message-displaying {
  display: block; }
