body {
  margin: 1rem; }

.event_logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.event_logo img {
  width: 50%; }

.event_logo h1 {
  width: 25%;
  font-size: 25px; }

.event_home-form .form_elements {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.5rem 0rem; }

.event_home-form .form_elements input {
  border: 1px solid black; }
