@font-face {
  font-family: "SourceCode-Reg";
  src: url("SourceCodePro-Regular.ttf");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "SourceCode-Bold";
  src: url("SourceCodePro-Bold.ttf");
  font-display: swap;
}
