//Colors
$background: #111;
$grey: #1a1a1a;
$grey-light: rgba(255, 255, 255, 0.87);
$red: #ff5555;
$heading: #e1e1e1;
$content: rgba(255, 255, 255, 0.4);
$highlight: #af71ff; //#7008ba //#784eb2

//Variables
$spacer: 28px;
$contentWidth: 685px;

//Breakpoints
$widths: (
  "sm": 0,
  "md": 1440px,
  "lg": 1920px,
  "xl": 2560px,
);
$heights: (
  "sm": 0,
  "md": 900px,
  "lg": 1080px,
  "xl": 1440px,
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($widths, $breakpoint)),
    (min-height: map-get($heights, $breakpoint)) and (orientation: landscape) {
    @content;
  }
}

//Global style
body {
  background-color: $background;
  padding: 0px 16px $spacer 16px;
  overflow-x: hidden;
  font-family: "Benzin-Regular";
  font-size: 14px;
  line-height: 20px;
  color: $heading;

  @include screen-is(md) {
    padding: 60px 80px 42px 80px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

//Headings
h1 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Benzin-Regular";
  color: $heading;
}

h2 {
  font-family: "Benzin-Semibold";
  text-transform: uppercase;
  color: $heading;
  letter-spacing: 0.1em;
  font-size: 18px;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  line-height: 25px;
  font-family: "Benzin-Regular";
  color: $heading;
  text-transform: uppercase;
}

//Elements
.button {
  font-family: "Benzin-Medium";
  background-color: $heading;
  text-transform: uppercase;
  color: $background;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;

  @include screen-is(md) {
    padding: 0 12px;
    font-family: "Benzin-Semibold";
  }
}

.link {
  font-family: "Benzin-Semibold";
  text-transform: uppercase;
  text-decoration: none;
  color: $heading;
}

.bold {
  font-family: "Benzin-Bold";
  color: $heading;
}

.semi-bold {
  font-family: "Benzin-Semibold";
  color: $heading;
}

.dimmed {
  color: $content;
  font-family: "Roboto-Regular";
  line-height: 16px;
}

.underlined {
  text-decoration: underline;
}

.loader {
  width: 100px !important;
  margin: 0rem auto;
  display: block;
}
