//Collors
$color-1: #000; //Change to your wish

//Breakpoints
$breakpoints: (
  "sm": 0, //Phone
  "md": 768px, //Tablet
  "lg": 1280px, //Laptop
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

//Global style
body {
  margin: 1rem;
  background-color: #f4f4f4;
}
h1, h2, h3, label, input, small {
  font-family: "SourceCode-Reg", "sans-serif";
}
h1 {
  font-size: 25px;

  @include screen-is(lg) {
    font-size: 45px;
  }
}
h2, h3 {
  line-height: 1.3;
}
h4, b, a {
  font-family: "SourceCode-Bold", "sans-serif";
  color: #000;
}
u {
  text-decoration: underline #ff5555 4px;
}
small.black {
  color:  #000 !important;
}
.text_red {
  color: #ff5555;
}

//Common styles
.event_information, .form_tickets-left-container, .event_submit-message {
  padding: 0.8rem 0rem;

  @include screen-is(lg) {
    width: 30%;
    margin: 0rem auto;
  }
}

//Style for the home page

