//Collors
$black: #000; //Change to your wish
$red: #ff5555;
$background: #f4f4f4;
$highlight: #af71ff; //#7008ba //#784eb2

//Breakpoints
$breakpoints: (
  "sm": 0, //Phone
  "md": 768px, //Tablet
  "lg": 1280px, //Laptop
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

//Global style
h1, h2, h3, label, input, small, span {
  font-family: "SourceCode-Reg", "sans-serif";
}
h1 {
  font-size: 25px;

  @include screen-is(lg) {
    font-size: 45px;
  }
}
h2, h3 {
  line-height: 1.3;
}
h4, b, a, u {
  font-family: "SourceCode-Bold", "sans-serif";
  color: $black;
}
.red {
  color: $red;
}
.black {
  color: $black;
}
small.black {
  color: $black !important;
}
.loader {
  width: 100px !important;
  margin: 0rem auto;
  display: block;
}

//Common styles
.event_information, .event_tickets-container, .event_welcome-message, .event_process-container, .form_tickets-left-container {
  padding: 0.8rem 0rem;
  margin: 1.5rem auto;
}

//Style for the home page

